@page "/about"

<PageTitle>About</PageTitle>
<div Class="mud-theme-tertiary pa-5">
    <MudText Typo="Typo.h2" GutterBottom="true" Align="Align.Center">About</MudText>
</div>

<div class="pa-5">
    <MudGrid>
        <MudItem sm="12" md="4">
            <MudCard Height ="25vh">
                <MudCardHeader Class ="mud-theme-primary">
                    <CardHeaderContent>
                        <MudText Typo = "Typo.h4" Align="Align.Center">Our Mission</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body1">
                        To collaborate to develop interconnected, resource and need-based partnerships across communities and organizations statewide
                        to build sustainable resilience. 
                    </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem sm="12" md="4">
            <MudCard Height="25vh">
                <MudCardHeader Class="mud-theme-primary">
                    <CardHeaderContent>
                        <MudText Typo="Typo.h4" Align="Align.Center">Our Vision</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Every community has the capability and capacity to achieve and maintain their fullest potential.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem sm="12" md="4">
            <MudCard Height="25vh">
                <MudCardHeader Class="mud-theme-primary">
                    <CardHeaderContent>
                        <MudText Typo="Typo.h4" Align="Align.Center">Our Values</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Every community has the capability and capacity to achieve and maintain their fullest potential.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>
<div class="pa-5">
    <MudCard>
        <MudCardHeader Class="mud-theme-primary">
            <CardHeaderContent>
                <MudText Typo="Typo.h4" Align="Align.Center">We Aim To:</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="4"/>
                <MudItem xs="6">
                    <MudList>
                        <MudListItem Icon="@Icons.Material.Filled.Circle" IconColor="Color.Secondary">
                            <MudText Typo="Typo.h6">
                                Assist communities in identifying their needs.
                            </MudText>
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Circle" IconColor="Color.Secondary">
                            <MudText Typo="Typo.h6">
                                Identify potential funding sources and partners to facilitate resilience projects.
                            </MudText>
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Circle" IconColor="Color.Secondary">
                            <MudText Typo="Typo.h6">
                                Leverage existing resources to support community resilience.
                            </MudText>
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Circle" IconColor="Color.Secondary">
                            <MudText Typo="Typo.h6">
                                Bridge the gap between federal agencies, community members, community organizations, utilities, industry, universities, state agencies, and more.
                            </MudText>
                        </MudListItem>
                    </MudList>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>



@code {


}